footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

@media screen and(max-width: 400px) {
    footer {
        > a {
            display: block;
        }
    }
}