@import "variables";
@import "func";
#main-container {
    #home-abstract {
        width: 360px;
        padding: 2% 4%;
        height: 400px;
        height: fit-content;
        background: theme(dark);
        box-shadow: theme(d-text, 0.1) 0 0 16px 5px;
        text-align: center;
        margin: 0 auto;
    
        > h4 {
            margin-bottom: 2rem;
        }

        #home-desciption {
            font-size: large;
            margin-top: 60px;
        }
    }
}